<div class="container">
    <form (ngSubmit)="add_task(form)" #form="ngForm">
        
        <input 
        type="text"
        class="form-control mt-5"
        placeholder="Title of task"
        required
        minlength="5"
        name="task"
        ngModel>

        <textarea
        class="form-control mt-2"
        placeholder="Task"
        required
        minlength="5" 
        maxlength="100"
        name="taskContent"
        ngModel
        icols="5" 
        rows="5"></textarea>
        <small class="text-muted" >Puedes escribir un maximo de 100 caracteres</small>

        
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-warning mt-2"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Add Task 
            </button>
        </div>
    </form>
</div>


<div class="p-5">
    <div class="row">

        <div class="col">
            <div class="card mt-3" cdkDropList #tasksList="cdkDropList" [cdkDropListData]="tasks" [cdkDropListConnectedTo]="[toDoList]"  (cdkDropListDropped)="drop($event)">
                <div class="card-footer bg-warning">
                    <h4 class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                        </svg>
                        Backlog
                    </h4>
                </div>
                <div class="card-body" >
                    <div *ngFor="let tasks of tasks">
                        <div class="card bg-warning mt-2" cdkDrag>
                            <div class="card-body">
                                <h4>{{tasks.task}}</h4>
                                <p>{{tasks.taskContent}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col">
            <div class="card mt-3" cdkDropList #toDoList="cdkDropList" [cdkDropListData]="toDo" [cdkDropListConnectedTo]="[tasksList, OngoingList]" (cdkDropListDropped)="drop($event)">
                <div class="card-footer bg-danger">
                    <h4 class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        To do
                    </h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let to_do of toDo">
                        <div class="card bg-warning mt-2">
                            <div class="card-body" cdkDrag>
                                <h4>{{to_do.task}}</h4>
                                <p>{{to_do.taskContent}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col">
            <div class="card mt-3" cdkDropList #OngoingList="cdkDropList" [cdkDropListData]="data" [cdkDropListConnectedTo]="[toDoList, doneList]" (cdkDropListDropped)="drop($event)">
                <div class="card-footer bg-secondary">
                    <h4 class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                        Ongoing
                    </h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let Ongoing of data">
                        <div class="card bg-warning mt-2">
                            <div class="card-body" cdkDrag>
                                <h4>{{Ongoing.task}}</h4>
                                <p>{{Ongoing.taskContent}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="col">
            <div class="card mt-3" cdkDropList #doneList="cdkDropList" [cdkDropListData]="data2" [cdkDropListConnectedTo]="[OngoingList]" (cdkDropListDropped)="drop($event)">
                <div class="card-footer bg-success">
                    <h4 class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                          </svg>
                        Done
                    </h4>
                    </div>
                <div class="card-body">
                    <div *ngFor="let done of data2; index as i">
                        <div class="card bg-success text-light mt-2">
                            <div class="card-body" cdkDrag>
                                <h4>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                    </svg>
                                    {{done.task}}
                                </h4>
                                <p>{{done.taskContent}}</p>
                            </div>

                            <div class="card-footer mt-3">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-danger" type="button" (click)="delete(i)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
